.contact-form__form {
  padding: 3.57vw 0;
}

.contact-form__row {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  margin-bottom: 1.9vw;
}

.contact-form__text {
  flex-shrink: 0;
}

.text-black {
  color: var(--main);
}

.heading-l {
  font-size: 2.62vw;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1em;
}

.contact-form__input_pinched {
  margin: 0 0.95vw;
}

.contact-form__input {
  -webkit-appearance: none;
  border: none;
  border-bottom: 1px solid var(--red);
  background: transparent;
  border-radius: 0;
  display: inline-block;
  outline: none;
  padding: 0.48vw 0;
  text-align: center;
  transition: border-color 0.32s ease;
  width: 100%;
}

.text-l {
  font-size: clamp(14px, 1.25vw, 100px);
  letter-spacing: 0;
  line-height: 1.4em;
}

.contact-form__input_right {
  margin: 0 0 0 0.95vw;
}

.contact-form__items {
  display: flex;
  align-items: center;
  -webkit-column-gap: 0.95vw;
  column-gap: 0.95vw;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 0.95vw;
  margin-top: 0;
  row-gap: 0.95vw;
}

.radio {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  position: relative;
  transition: background-color 0.12s ease, color 0.12s ease,
    border-color 0.25s ease;
  padding: 1.48vw 2.5vw;
  margin-bottom: 0;
  border: 1px solid var(--red);
  height: 1.5rem;
  width: auto;
}

.radio__input {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  overflow: visible;
  box-sizing: border-box;
  padding: 0;
  appearance: none;
  border: 1px solid var(--red);
  border-radius: 2px;
  color: var(--red);
  cursor: pointer;
  display: flex;
  font: inherit;
  margin: 0;
  place-content: center;
  height: 0.95vw;
  left: 0.95vw;
  position: absolute;
  top: calc(50% - 0.48vw);
  width: 0.95vw;
}

.radio__label {
  margin-left: 0.7vw;
  color: var(--main);
}

.checked {
  background-color: var(--red);
}

.checked input {
  border-color: var(--red);
  background-color: var(--white);
}

.checked span {
  color: white;
}

.text-m {
  font-size: 1.3vw;
  letter-spacing: 0;
  /* line-height: 1.3em; */
}

.pill-checkbox {
  align-items: center;
  border: 1px solid var(--red);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-shrink: 0;
  padding: 0.48vw 1.9vw;
  transition: background-color 0.12s ease, color 0.12s ease,
    border-color 0.25s ease;
  color: var(--pink_lady);
}

.pill-checkbox__input {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.contact-form__textarea-wrapper {
  margin-top: 0;
}

.contact-form__textarea {
  -webkit-appearance: none;
  border: none;
  border-bottom: 1px solid var(--red);
  background-color: transparent;
  border-radius: 0;
  display: inline-block;
  outline: none;
  padding: 0.48vw 0;
  text-align: center;
  resize: none;
  transition: border-color 0.2s ease;
  width: 100%;
  margin-top: 1.9vw;
}

.contact-form__footer {
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 3vw;
  row-gap: 2.1vw;
  display: flex;
}

.checkbox {
  align-items: center;
  align-self: flex-start;
  cursor: pointer;
  display: flex;
  overflow: hidden;
  position: relative;
}

.contact-form__btn {
  align-self: unset;
  margin-left: 1.43vw;
}

.button {
  border-radius: 0.25rem;
  display: inline-block;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button__content {
  align-items: center;
  background-color: var(--red);
  border: 1px solid var(--red);
  border-radius: 0.25rem;
  display: inline-flex;
  justify-content: center;
  overflow: hidden;
  padding: 0.5vw 2.15vw;
}

.button__error,
.button__loader,
.button__success {
  left: 0;
  margin: auto;
  opacity: 0;
  position: absolute;
  right: 0;
}

.button__icon {
  align-items: center;
  display: flex;
  height: 12px;
  margin-left: 10px;
  width: 12px;
}

@media screen and (max-width: 768px) {
  .contact-form__row {
    display: flex;
    flex-direction: column;
    margin-bottom: 6.15vw;
    justify-content: flex-start;
  }

  .contact-form__row span {
    width: 100%;
    padding: 10px 0;
    margin-left: 10px;
  }

  .text-m {
    font-size: 4.05vw;
  }
  .contact-form__items {
    -webkit-column-gap: 3.08vw;
    column-gap: 3.08vw;
    display: flex;
    flex-direction: column;
    margin-top: 4.1vw;
    row-gap: 3.08vw;
    margin-left: 0;
    width: 100%;
  }

  .heading-l {
    font-size: 5.38vw;
    font-weight: 500;
    letter-spacing: -0.02em;
    line-height: 1em;
  }

  .contact-form__input_pinched {
    margin-bottom: 6.15vw;
    margin-top: 2.05vw;
  }

  .contact-form__input {
    padding: 4.48vw 0;
  }

  .radio {
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    padding: 3.08vw 5.13vw 3.08vw 8.72vw;
    position: relative;
    transition: background-color 0.12s ease, color 0.12s ease,
      border-color 0.25s ease;
    width: 100%;
    height: fit-content;
  }

  .radio__input {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    color: currentColor;
    cursor: pointer;
    display: grid;
    font: inherit;
    height: 1rem;
    left: 5.13vw;
    margin: 0;
    place-content: center;
    position: absolute;
    width: 1rem;
    top: 6vw;
  }
  .pill-checkbox {
    width: 100%;
  }

  .contact-form__input_wide {
    margin-top: 5.05vw;
    padding: 2.05vw 0 3.08vw;
  }

  .contact-form__footer {
    display: flex;
    flex-direction: column;
    margin-top: 8.21vw;
    row-gap: 6.15vw;
  }
}
