@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main: #39373c;
  --paragraph: #606060;
  --red: #de4928;
  --white: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Lato", sans-serif;
}

li {
  list-style-type: none;
}
section {
  overflow-x: hidden;
}
/* Marquee styles */
.marquee {
  --gap: 6rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  width: 100%;
}

.marquee__content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: fit-content;
}

.marquee__content .logo {
  width: 120px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

/* Enable animation */
.enable-animation .marquee__content {
  animation: scroll 8s linear infinite;
}

/* Attempt to size parent based on content. Keep in mind that the parent width is equal to both content containers that stretch to fill the parent. */
.marquee--fit-content {
  max-width: fit-content;
}

/* A fit-content sizing fix: Absolute position the duplicate container. This will set the size of the parent wrapper to a single child container. Shout out to Olavi's article that had this solution 👏 @link: https://olavihaapala.fi/2021/02/23/modern-marquee.html  */
.marquee--pos-absolute .marquee__content:last-child {
  position: absolute;
  top: 0;
  left: 0;
}

/* Enable position absolute animation on the duplicate content (last-child) */
.enable-animation .marquee--pos-absolute .marquee__content:last-child {
  animation-name: scroll-abs;
}

@keyframes scroll-abs {
  from {
    transform: translateX(calc(100% + var(--gap)));
  }
  to {
    transform: translateX(0);
  }
}

/* Other page demo styles */
.marquee__content > * {
  flex: 0 0 auto;
  color: var(--main);
  margin: 2px;
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  text-align: center;
}

.eapps-widget-toolbar {
  display: none !important;
}

.huflDf {
  display: none !important;
}

.bNlWwC {
  margin-left: 0 !important;
}

.Main__Container-sc-1w4nyzp-0 .kzANES .es-main-container a {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .marquee__content .logo {
    width: 80px;
  }

  .marquee {
    --gap: 0rem;
  }
}

@media screen and (min-width: 2500px) {
  .marquee__content .logo {
    width: 180px;
  }

  .marquee {
    --gap: 15rem;
  }

  .eMlkQV {
    width: 20px;
    height: 20px;
  }

  .fNqGxJ {
    font-size: 28px !important;
    line-height: 25px !important;
  }

  .bNlWwC > div > div {
    font-size: 30px;
  }

  .fRYNlR {
    width: 60px !important;
    height: 60px !important;
  }

  .jmhlpF {
    margin-bottom: 30px !important;
  }
  .hCDqLO {
    margin-right: 35px !important;
  }

  .gBcYjk {
    font-size: 18px;
  }

  .fIkVWg {
    font-size: 18px !important;
  }

  .kzANES {
    margin: 0 !important;
  }

  .swiper-slide .swiper-slide-visible .swiper-slide-active {
    width: 580px !important;
  }

  .eMlkQV {
    width: 25px !important;
    height: 25px !important;
  }

  .fRCAcw {
    font-size: 20px !important;
    margin-top: 10px;
  }
}

@media screen and (min-width: 1900px) {
  .marquee__content .logo {
    width: 180px;
  }

  .marquee {
    --gap: 8rem;
  }

  .eMlkQV {
    width: 20px;
    height: 20px;
  }

  .fNqGxJ {
    font-size: 25px !important;
    line-height: 25px !important;
  }

  .bNlWwC > div > div {
    font-size: 25px;
  }

  .fRYNlR {
    width: 50px !important;
    height: 50px !important;
  }

  .jmhlpF {
    margin-bottom: 20px !important;
  }
  .hCDqLO {
    margin-right: 28px !important;
  }

  .gBcYjk {
    font-size: 18px;
  }

  .fIkVWg {
    font-size: 18px !important;
  }

  .kzANES {
    margin: 0 !important;
  }

  .swiper-slide .swiper-slide-visible .swiper-slide-active {
    width: 580px !important;
  }

  .eMlkQV {
    width: 25px !important;
    height: 25px !important;
  }

  .fRCAcw {
    font-size: 20px !important;
    margin-top: 10px;
  }
}
